<section class="container-fluid content">
    <div class="container">
        <div class="well well_shadow">
            <div class="text-block">
                <div class="text-block__h2">
                    Оплата
                </div>
            </div>
            <div class="js_payment-container">

            </div>
        </div>
    </div>
</section>