<header class="container-fluid header">
    <div class="row">
        <div class="col-xs-12">
            <div class="logo"><img src="https://lk.platformaofd.ru/i/logo.png" alt=""></div>
        </div>
    </div>
</header>