.text-block {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 20px;
  &_text-align {
    &_center {
      text-align: center;
    }
  }
  &_margin-bottom_0 {
    margin-bottom: 0;
  }
  &__h1 {
    color: #ffffff;
    font-family: @base-font;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
  }
  &__h2 {
    color: #333;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
  }
  &__h3 {
    font-size: 18px;
    line-height: 22px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
  }
  &__h4 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333;
  }
  &__simple-text {
    text-align: center;
  }
}