.form-block {
  display: block;
  position: relative;
  &__row {
    margin-bottom: 20px;
    overflow: hidden;
    &_hidden {
      display: none;
    }
    &_display_flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
    }
    &_text-align_center {
      text-align: center;
    }
  }
  &__col {
    padding-left: 20px;
    &:first-child {
      padding-left: 0;
    }
  }
  &__label {
    margin-bottom: 10px;
  }
}