.radio-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  &__item {
    padding-left: 20px;
    display: flex;
    flex-wrap: nowrap;
    &:first-child {
      padding-left: 0;
    }
  }
  &__input input {
    cursor: pointer;
    outline: none!important;
  }
  &__label {
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
  }
}